@using BlazorClient.Models.UserModels
@using BlazorClient.Services
@using BlazorClient.Services.IdentityManagement

@inject IUserService  UserService

<MatAppBarContainer>
  <MatAppBar Fixed="true">
    <MatAppBarRow>
      <MatAppBarSection>
        <MatIconButton Icon="menu"></MatIconButton>
      </MatAppBarSection>
      <MatAppBarSection Align="@MatAppBarSectionAlign.End">
        <MatIconButton Icon="account_circle" OnClick="OnAccountButtonClicked" RefBack="@_buttonForwardRef"></MatIconButton>
        <MatIconButton Icon="notifications"></MatIconButton>
        <MatIconButton Icon="help"></MatIconButton>
      </MatAppBarSection>
    </MatAppBarRow>
  </MatAppBar>
</MatAppBarContainer>

<MatMenu @ref="_accountMenu" TargetForwardRef="@_buttonForwardRef">
  <h2>@User.Name</h2>
  <p>@User.Email</p>
  <MatButton OnClick="OnChangePersonalNumberClick">Zmeniť číslo</MatButton><MatButton OnClick="OnLogoutButtonClick">Odhlásiť</MatButton>
</MatMenu>

@code
{
  [Parameter] public EventCallback OnChangePersonalNumberClick { get; set; }
  [Parameter] public EventCallback OnLogoutButtonClick { get; set; }

  private AuthenticatedUserModel User { get; set; }

  ForwardRef _buttonForwardRef = new ForwardRef();
  BaseMatMenu _accountMenu;

  private async Task OnAccountButtonClicked(MouseEventArgs e)
  {
    await _accountMenu.OpenAsync();
  }

  protected override void OnInitialized()
  {
    base.OnInitialized();
    User = UserService.AuthenticatedUser;
  }
}
