@using BlazorClient.Models.UserModels
@using BlazorClient.Services

@inject IUserService  UserService

<MatAppBarContainer>
  <MatAppBar Fixed="true">
    <MatAppBarRow>
      <MatAppBarSection>
        <MatIconButton Icon="menu"></MatIconButton>
      </MatAppBarSection>
      <MatAppBarSection Align="@MatAppBarSectionAlign.End">
        <MatIconButton Icon="account_circle" OnClick="OnAccountButtonClicked" RefBack="@_buttonForwardRef"></MatIconButton>
        <MatIconButton Icon="notifications"></MatIconButton>
        <MatIconButton Icon="help"></MatIconButton>
      </MatAppBarSection>
    </MatAppBarRow>
  </MatAppBar>
</MatAppBarContainer>

<MatMenu @ref="_accountMenu" TargetForwardRef="@_buttonForwardRef">
  <h1>@User.Name</h1>
  <h2>@User.Email</h2>
  <MatButton OnClick="OnChangePersonalNumberClick">Zmeniť číslo</MatButton><MatButton>Odhlásiť</MatButton>
</MatMenu>

@code
{
    [Parameter] public EventCallback OnChangePersonalNumberClick { get; set; }

    private AuthenticatedUserModel User { get; set; }

    ForwardRef _buttonForwardRef = new ForwardRef();
    BaseMatMenu _accountMenu;

    private void OnAccountButtonClicked(MouseEventArgs e)
    {
      _accountMenu.OpenAsync();
    }

    protected override void OnInitialized()
    {
      base.OnInitialized();
      User = UserService.GetUser();
    }
}
