@using BlazorClient.Models.UserModels
@using BlazorClient.Services

@inject ISwapifyAPI swapifyApi
@inject IWebStorage webStorage

  <EditForm Model="@registerModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <div className="FormField">
      <MatTextField Label="Meno" @bind-Value="registerModel.Name" class="FormField__Label" FullWidth="true" />
      <ValidationMessage For="@(()=> registerModel.Name)" />
    </div>
    <div className="FormField">
      <MatTextField Label="Priezvisko" @bind-Value="registerModel.Surname" class="FormField__Label" FullWidth="true" />
      <ValidationMessage For="@(()=> registerModel.Surname)" />
    </div>
    <div className="FormField">
      <MatTextField Label="Emailová adresa" @bind-Value="registerModel.Email" class="FormField__Label" FullWidth="true" />
      <ValidationMessage For="@(()=> registerModel.Email)" />
    </div>
    <div className="FormField">
      <MatTextField Label="Heslo" @bind-Value="registerModel.Password" Type="password" class="FormField__Label" FullWidth="true" />
      <ValidationMessage For="@(()=> registerModel.Password)" />
    </div>
    <div className="FormField">
      <MatTextField Label="Potvrdenie hesla" @bind-Value="registerModel.PasswordAgain" Type="password" class="FormField__Label" FullWidth="true" />
      <ValidationMessage For="@(()=> registerModel.PasswordAgain)" />
    </div>    
    <div className="FormField">
      <button Type="submit" Raised="true" Class="FormField__Button">Registrovať</button>
    </div>
  </EditForm>

@code {
  private RegisterModel registerModel = new RegisterModel();

  private async void HandleValidSubmit()
  {
    await swapifyApi.User.Register(registerModel);
  }
}
